{% extends '_base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block h1 %} Homepage {% endblock h1 %}

{% block content %}
    {% if user.is_authenticated %}
        Hi, {{ user.email }}
        <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}"
              method="get">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search"
                   aria-label="Search">
        </form>
    {% else %}
        <p class="text-center">You are not logged in</p>
    {% endif %}
{% endblock content %}